*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    color: #4D533C;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    padding: 0px 15px;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f6f7;
    border-radius: 30px;
    padding: 13px 10px;
}
.menu::before,
.menu::after {
    content: "";
    background-color: black;
    height: 2px;
}

.menu span {
    height: 2px;
    background-color: black;
}

/* ========================================================= */

.hero {
    padding-top: 189px;
    background-image: url("../images/hero_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 811px;
    padding-bottom: 100px;
}

.hero__content {
    max-width: 616px;
}

.hero__sub-title {
    display: inline-block;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.hero__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
}

.hero__text {
    margin: 0;
    margin-bottom: 45px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.link {
    display: inline-flex;
    align-items: center;
    color: #d4d6d4;
    text-decoration: underline;
    font-weight: 700;
    line-height: 16px;
    font-size: 16px;
    text-decoration: none;
    padding: 45px 0px 0px 0px;
    transition: color 0.3s ease;
}

.main-link {
    color: #FFD723;
}

.link:hover {
    color: #FFD723;
}

.link span {
    border-bottom: 1px solid currentColor;
}

.link svg {
    fill: currentColor;
    width: 15px;
    height: 15px;
}

/* ========================================================= */
/* SERVICE */
.service {
    margin-bottom: -180;
    padding-top: 150px;
    padding-bottom: 50px;
}

.service__title {
    margin: 0;
    margin-bottom: 60px;
    max-width: 606px;
    font-style: 700;
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.service__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.service__item {
     display: flex;
     flex-direction: column;
}

.service__sub-title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 183px;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.service__text {
    margin: 0;
    margin-bottom: 56px;
    max-width: 194px;
    font-style: 600;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.service__link {
    margin: auto 0px 0px 0px;
}

/* ========================================================= */
/* GET START */
.get-start {
    position: relative;
    top: 180px;
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    padding: 70px 0;
    width: 88%;
}

.get-start-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    max-width: 822px;
    color: #4D533C;
    margin: 0;
    max-width: 822px;
    margin-bottom: 50px;
}

.get-start__link {
    text-transform: uppercase;
}

/* ========================================================= */
/* FOOTER */
/* FOOTER-TOP */
.footer {
    padding-top: 300px;
    background-image: url("../images/footer_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #5D6544;
    padding-bottom: 52px;
}

.footer-contacts__item:not(:last-child) {
    margin-right: 127px;
}

.footer-contacts__title {
    display: block;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.contacts-value {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

/* FOOTER-MIDDLE */
.footer__middle {
    padding-top: 60px;
    border-bottom: 1px solid #5D6544;
    padding-bottom: 52px;
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(4, 1fr);
}

.footer__middle-column:last-child {
    position: relative;
}
.footer__middle-column:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * (var(--grid-gap)));
    width: 1px;
    height: 100%;
    background-color: #B6C197;
    margin-left: -40px;
}

.middle__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 21px;
}

.middle-list {
    margin-top: 21px;
}

.middle-item {
}

.footer-link {
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.middle-text {
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
    margin-bottom: 23px;
}

.middle-email {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.middle-social {
    display: flex;
    justify-content: space-evenly;
    max-width: 172px;
}

.social-link {
    display: block;
    width: 33px;
    height: 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.link-fb {
    background-image: url('../images/footer_facebook.svg');
}
.link-twit {
    background-image: url('../images/footer_twitter.svg');
}
.link-google {
    background-image: url('../images/footer_google.svg');
}
.link-linked {
    background-image: url('../images/footer_facebook.svg');
}

/* FOOTER-BOTTOM */
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 30px 0px;
}

.copyright {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}
/* ========================================================= */

/* PC */
@media (max-width: 1087px) {
    .__container {
        max-width: 970px;
    }
}
/* TABLET */
@media (max-width: 991.98px) {
    .__container {
        max-width: 750px;
    }
    .service__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
    .footer__middle {
        padding-top: 60px;
        border-bottom: 1px solid #5D6544;
        padding-bottom: 52px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
    }
}
/* MOBILE */
@media (max-width: 767.98px) {
    .__container {
        max-width: none;
    }
    .service {
        padding-top: 60px;
    }
    .service__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .service__text {
        margin: 0;
    }
    .get-start {
        padding: 0;
        top: 130px;
    }
    .get-start-title {
        font-size: 50px;
        line-height: 65px;
        margin-bottom: 30px;
    }
    .footer {
        padding-top: 200px;
    }
    .footer__middle {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__middle-column:last-child::before {
        display: none;
    }
}

/* SMALL MOBILE */
@media (max-width: 479.98px) {
    .menu {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        padding: 8px 7px;
    }
    .hero {
        padding-top: 100px;
        min-height: 700px;
    }
    .service__link,
    .get-start__link {
        color: #000;
        font-weight: 700;
        line-height: 16px;
        font-size: 20px;
    }
    .hero__title {
        font-size: 50px;;
    }
    .hero__text {
        margin-bottom: -30px;
    }
    .service {
        padding-top: 20px;
    }
    .service__items {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .service__item {
        align-items: center;
    }
    .get-start {
        position: block;
        top: 0;
        background: #FAFAFA;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .footer {
        padding: 0;
    }
    .footer__top {
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 0px
    }
    .footer-contacts__item:not(:last-child) {
        margin-right: 0px;
    }
    .footer__middle {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding-top: 10px;
    }
    .footer__middle-column:last-child::before {
        display: none;
    }
    .middle-email {
        font-size: 20px;
    }
    .middle-social {
        justify-content: space-evenly;
        max-width: 100%;
    }
    .footer__bottom {
        padding: 10px 0px 10px 0px;
    }
    .copyright {
        font-size: 12px;
        line-height: 15px;
        color: #B5C096;
        padding-left: 10px;
    }   
}